* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

:root {
  --main-color: #1e2635;
  --secondary-color: #dee0e9;
  --font-color: #27323f;
}

.container {
  padding: 1.2rem 5.8rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
}

.right-side .nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.4rem;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #aaa;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: white;
}
.left-side h1 {
  color: white;
  font-weight: 400;
}

.active {
  color: white;
}

.nav-link.sign-up {
  background-color: #333f58;
  padding: 0.8rem 2.4rem;
  border-radius: 5px;
}

.nav-link:hover.sign-up {
  background-color: #27323f;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4.8rem;
  margin-top: 4.8rem;
}

header {
  position: relative;
}

header::before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  position: absolute;
  top: -10%;
  left: -8.2%;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 64%, 0 84%);
}

.product-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex-basis: 70%;
  color: white;
}

.product-title {
  font-size: 2.2rem;
  color: white;
}

.product-desc {
  font-size: 1.2rem;
  color: #aaa;
}

.product-btns {
  display: flex;
  gap: 2.4rem;
  margin-top: 2.8rem;
}

.product-btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.8rem 2.8rem;
  border-radius: 10px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.product-btn:hover {
  color: var(--main-color);
  background-color: white;
}

.product-img {
  width: 80%;
  height: auto;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.product-img img {
  max-width: 100%;
  padding: 0.6rem 1.8rem;
  border-radius: 20px;
}

.brands {
  margin-top: 7.2rem;
}

.brands-imgs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
}

.brand-img {
  width: 8.2rem;
  filter: grayscale(100%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.brand-img:hover {
  filter: grayscale(0%);
}

.services {
  margin-top: 7.2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
}

.services-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  white-space: pre-line;
  width: 80%;
}

.service-q {
  color: #aaa;
}

.service-text-title {
  font-size: 2.2rem;
  color: var(--font-color);
}

.service-text-description {
  font-size: 1rem;
  color: #aaa;
  line-height: 1.8;
}

.services-text .product-btn {
  background-color: var(--main-color);
  align-self: flex-start;
  margin-top: 3.2rem;
  padding: 1.2rem 6.2rem;
}
.services-text .product-btn:hover {
  color: white;
}

.services-cards {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 2.4rem;
  text-align: center;
}

.service-card {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}

.service-card-image {
  width: 100%;
}

.service-card-image img {
  width: 19.4rem;
  border-radius: 10px;
  cursor: pointer;
  filter: brightness(0.6);
  transition: all 0.3s ease-in-out;
}

.service-card-image img:hover {
  filter: brightness(1);
}
.service-card-details {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.service-card-title {
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 600;
}

.service-card-description {
  color: #aaa;
  font-size: 0.8rem;
  /* white-space: pre-line; */
  line-height: 1.8;
}

.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8.4rem;
  margin-top: 10.2rem;
}

.about-img {
  width: 90%;
}
.about-img img {
  width: 100%;
  border-radius: 5px;
}

.how-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10.2rem;
  gap: 0.8rem;
}

.how-work .section-title {
  font-size: 2.2rem;
  color: var(--font-color);
}

.how-work .section-comment {
  font-size: 1rem;
  color: #aaa;
  width: 50%;
  text-align: center;
}

.how-content {
  display: flex;
  margin-top: 4.2rem;
  gap: 10rem;
}

.how-image {
  width: 100%;
}

.how-image img {
  width: 100%;
  border-radius: 5px;
}

.how-content .services-text {
  gap: 0.4rem;
}

.how-content .services-text .service-text-title {
  font-size: 1.8rem;
  white-space: pre-line;
}

.how-content .services-text .service-text-description {
  font-size: 0.9rem;
  line-height: 1.8;
}

.how-work .product-btn {
  background-color: var(--main-color);
  margin-top: 3.2rem;
  padding: 1.2rem 6.2rem;
}

.how-work .product-btn:hover {
  color: white;
}

.how-features {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 0.8rem;
}

.how-feature-item {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.how-feature-item i {
  font-size: 1.2rem;
  color: #fff;
  border: var(--main-color) solid 3px;
}
.how-feature-item .item-details {
  display: flex;
  flex-direction: column;
}

.item-details .item-title {
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.item-details .item-comment {
  color: #aaa;
  font-size: 0.8rem;
}

.clocks {
  display: flex;
  gap: 1.2rem;
  margin-top: 2.4rem;
  font-size: 2.4rem;
  align-items: center;
}

.clocks i:first-child {
  color: white;
  border: #1e2635 solid 3px;
  border-radius: 50%;
  font-size: 2.1rem;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 4.2rem;
  position: relative;
}

.features::after {
  content: '';
  display: block;
  width: 100vw;
  height: 100%;
  position: absolute;
  left: -7.2vw;
  top: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, var(--font-color), var(--main-color));
  margin-top: 1.2rem;

  clip-path: polygon(0 30%, 100% 14%, 100% 100%, 0% 100%);
  z-index: -1;
}

.features-header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 25%;
}

.features-comment {
  font-size: 1rem;
  color: #aaa;
  text-transform: uppercase;
}

.features-cards {
  width: 100%;
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 6.8rem;
}

.features-title {
  font-size: 2.2rem;
  color: var(--font-color);
}

.feature-card {
  background-color: #fff;
  width: 30%;
  padding: 1.8rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.feature-card i {
  color: white;
  align-self: flex-start;
  border: #1e2635 solid 3px;
}

.feature-name {
  font-size: 1rem;
  color: var(--font-color);
  font-weight: 700;
  text-transform: uppercase;
}

.feature-details {
  font-size: 0.9rem;
  color: #aaa;
  line-height: 1.8;
}

.marketing {
  display: flex;
  align-items: flex-start;
  margin-top: 7.2rem;
  gap: 6.2rem;
}

.marketing-image {
  width: 100%;
  flex-basis: 100%;
}

.marketing-image img {
  width: 100%;
}

.marketing-text {
  width: 100%;
}

.marketing-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.marketing-text .marketing-q {
  font-size: 0.8rem;
  color: #aaa;
}

.marketing-text .marketing-text-title {
  font-size: 1.8rem;
  color: var(--font-color);
}

.marketing-text .marketing-text-description {
  font-size: 0.9rem;
  color: #aaa;
  line-height: 1.8;
}

.marketing-text .product-btn {
  background-color: var(--main-color);
  margin-top: 2.4rem;
  padding: 1.2rem 6.2rem;
  align-self: flex-start;
}

.marketing-text .product-btn:hover {
  color: white;
}

.testimonials {
  margin-top: 8.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials i {
  font-size: 2.4rem;
  color: var(--main-color);
}

.testimonial {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.testimonial .testimonial-q {
  font-size: 1rem;
  color: #555;
  font-weight: 600;
}

.testimonial .testimonial-content {
  font-size: 1.8rem;
  color: #555;
  line-height: 1.8;
  padding: 0 8.2rem;
}

.testimonial-author {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}

.testimonial-author img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.testimonial-author .author-details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: flex-start;
}

.author-details .author-name {
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-color);
  text-transform: uppercase;
}

.author-details .author-job {
  color: #aaa;
}

.ad {
  margin-top: 8.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12rem;

  position: relative;
}

.ad::before {
  content: '';
  display: block;
  width: 100vw;
  height: 27vh;
  position: absolute;
  top: -120%;
  left: -7.2vw;
  overflow: hidden;
  background-image: linear-gradient(to right, #2f3a4e, var(--main-color));
  margin-top: 1.2rem;

  z-index: -1;
}

.ad .ad-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.ad .ad-q {
  font-size: 0.8rem;
  color: #aaa;
  text-transform: uppercase;
}

.ad .ad-title {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
}

.ad .ad-buttons {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.ad-buttons button:first-child {
  color: white;
  background-color: #606670;
  padding: 0.8rem 3.8rem;
  border: none;
  text-transform: uppercase;
}

.ad-buttons button:last-child {
  color: var(--main-color);
  background-color: #fff;
  padding: 0.8rem 3.8rem;
  border: none;
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 8.2rem;
  gap: 1.2rem;
  padding: 2.4rem 0 4.2rem 0;
}

.footer-part {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}

.footer-part:first-child {
  flex-basis: 130%;
}

.footer .footer-part .footer-part-title.hidden {
  visibility: hidden;
  opacity: 0;
}

.footer-part-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--font-color);
  text-transform: uppercase;
}

.footer-part-desc {
  color: #777;
}

.footer-part-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: flex-start;
  gap: 1.2rem;
}

.footer-part-link {
  color: #777;
}

.social-icons {
  display: flex;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.social-icons i {
  font-size: 1.2rem;
  color: var(--font-color);
}

.first-part {
  margin-top: 1.8rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #777;
}

.first-part-link {
  display: flex;
  align-items: center;
}

.first-part-link::before {
  content: '\f0c8';
  font-family: 'Font Awesome 5 Free';
  font-size: 1.8rem;
  margin-right: 1.8rem;
  color: var(--font-color);
}
